.primary-btn-main {
  font-family: "sofiapro", sans-serif;
  opacity: 90%;
  color: white;
  font-size: 1.1rem;
  justify-content: "center";
  padding: 0.7rem 0.9rem;
  margin-top: 2rem;
  cursor: pointer;
  text-transform: lowercase;
  font-weight: 500;
  background-color: rgba(115, 90, 255, 0.341);
  border: 1px solid slateblue;
  border-radius: 5px;
  transition: background 0.4s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-decoration: none;

  &:hover {
    background-color: rgba(116, 93, 247, 0.512);
    border: 1px solid slateblue;
    color: #fff;
  }

  &:hover span:nth-of-type(1) em {
    opacity: 1;
    transform: translateY(-20px);
  }

  &:hover span:nth-of-type(2) em {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.25s linear, opacity 0.35s linear 0.3s;
  }

  span {
    position: relative;
    display: block;
    perspective: 108px;
    overflow: hidden;
  }

  span:nth-of-type(2) {
    position: absolute;
  }

  em {
    font-style: normal;
    display: inline-block;
    font-size: 1.125rem;
    color: white;
    font-weight: normal;
    will-change: transform, opacity, transition;
    transition: transform 0.1s linear, opacity 0.35s linear 0.2s;
  }

  span:nth-of-type(2) em {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
}

// submit btn
.primary-btn-green {
  font-family: "sofiapro", sans-serif;
  opacity: 90%;
  color: #ababab;
  font-size: 1.1rem;
  justify-content: "center";
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  text-transform: lowercase;
  font-weight: 500;
  background-color: #ffffff10;
  border-radius: 5px;
  border: none;
  transition: 0.3s all ease;

  text-decoration: none;
}
.primary-btn-green:hover {
  background-color: #ffffff11;
  color: #fff;
  border: none;
}

// close btn
.primary-btn-red {
  font-family: "sofiapro", sans-serif;
  opacity: 90%;
  color: #ababab;
  font-size: 1.1rem;
  padding: 0.8rem 1rem;
  justify-content: "center";
  margin-top: 1rem;
  cursor: pointer;
  text-transform: lowercase;
  font-weight: 500;
  background-color: #ffffff10;
  border-radius: 5px;
  border: none;
  transition: 0.3s all ease;

  text-decoration: none;
}
.primary-btn-red:hover {
  background-color: #ffffff11;
  color: #fff;
  border: none;
}
