.course-snackbar {
  z-index: 99999 !important;
  bottom: 30px;
  right: 0;
  font-size: 0.9rem;
  width: fit-content;
  border-radius: 5px 0 0 5px;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  padding-top: 0.6rem;
  gap: 0.5rem;
  text-align: right;
  color: #fff;
  background-color: rgb(119, 51, 228);
  a {
    color: #fff;
  }
  .course-snackbarClose {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}
