$color_1: #ffffff;
$background-color_1: #1f1f20;
$arrow-size: 8px;

.tooltipContainer {
  position: relative;
  display: inline-block;
  @media (max-width: 768px) {
    display: block;
    text-align: center;
  }
  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #161616;
  border: 2px solid #ffffff0c;
  backdrop-filter: blur(20px);
  color: $color_1;
  z-index: 99999 !important;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 14px;
  opacity: 0;
  width: max-content;
  word-wrap: break-word;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0.3rem;
  flex-direction: column;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 0.2s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: $arrow-size;
    border-style: solid;
    border-color: transparent transparent #161616 transparent;
  }

  @media (max-width: 768px) {
    position: static;
    transform: none;
    color: $color_1;
    position: absolute;
    bottom: auto;
    top: 100%;
    left: 50%;
    z-index: 9999;
    background-color: #161616;
    border: 2px solid #ffffff0c;
    backdrop-filter: blur(20px);
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: $arrow-size;
      border-style: solid;
      border-color: transparent transparent #161616 transparent;
    }
  }
}

.tooltipText {
  display: block;
  font-weight: 400;
  font-size: 1rem;
}

.tooltipDescription {
  display: block;
  font-weight: 100;
}
