.footer {
  display: flex;
  justify-content: space-around;
  color: #f0edf3;
  margin-top: 9rem;
  align-items: center;
  z-index: 9999 !important;
  flex-wrap: wrap;
  padding: 5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  @media screen and (max-width: 600px) {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .footer_branding {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    text-align: left;
    hr {
      width: 40px;
      opacity: 0.3;
      display: flex;
    }
    h4 {
      font-weight: normal;
      font-size: 34px;
      letter-spacing: -1.3px;
      color: #f0edf3;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
    }
    p {
      font-size: 14px;
      color: #f0edf3;
    }
    .footer_icons {
      display: flex;
      gap: 9px;
      margin: 0.2rem 0;
      align-items: center;
      a {
        padding: 0.5rem 0;
        img {
          margin: 0;
        }
      }
    }
  }

  .footer_links {
    display: flex;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    .tutorials_links {
      display: flex;
      flex-direction: column;
      p {
        color: #f0edf3;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        word-wrap: break-word;
      }
      a {
        text-decoration: none;
        opacity: 85%;
        color: #f0edf3;
        font-size: 14px;
        // transform: translateX(10px);
        // &::before {
        //   content: "‣ ";
        // }
        &:hover {
          opacity: 100%;
          text-decoration: underline;
        }
      }
    }
    .languages_links {
      display: flex;
      flex-direction: column;
      p {
        color: #f0edf3;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        word-wrap: break-word;
      }
      a {
        text-decoration: none;
        opacity: 85%;
        color: #f0edf3;
        font-size: 14px;
        // transform: translateX(10px);
        // &::before {
        //   content: "‣ ";
        // }
        &:hover {
          opacity: 100%;
          text-decoration: underline;
        }
      }
    }
  }
}
