#nprogress .bar {
  background: rgb(255, 0, 207) !important;
  background: linear-gradient(90deg, rgb(255, 0, 106), rgb(0, 110, 255));
}

#nprogress .spinner-icon {
  border-top-color: rgb(255, 0, 106) !important;
  border-left-color: rgba(0, 110, 255, 0.756) !important;
}

#nprogress .bar {
  height: 2px !important;
}
