.navbar {
  background-color: #b7acf6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid rgba(124, 104, 238, 0.751);
  border-left: 3px solid rgba(124, 104, 238, 0.751);
  border-right: 3px solid rgba(124, 104, 238, 0.751);
  margin: 0rem 0 1rem 0;
  border-radius: 0 0 20px 20px;
  .navbar_brand {
    img {
      padding: 1rem;
    }
  }
  .navbar_links {
    ul {
      list-style-type: none;
      li {
        a {
          color: black;
          text-decoration: none;
          font-size: 18px;
          padding: 0.4rem 0.8rem;
          border-radius: 3px;
          transition: 0.3s all ease;
          &:hover {
            background-color: rgba(124, 104, 238, 0.13);
          }
        }
      }
    }
  }
}
