.navbar {
  background-color: #18151d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid rgba(124, 104, 238, 0.311);
  border-left: 3px solid rgba(124, 104, 238, 0.311);
  border-right: 3px solid rgba(124, 104, 238, 0.311);
  margin: 0rem 0 1rem 0;
  border-radius: 0 0 40px 40px;
  .navbar_brand {
    span {
      position: absolute;
      opacity: 0;
    }
    img {
      // padding: 1rem;
      margin: 1rem;
    }
  }
  .navbar_links {
    ul {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      list-style-type: none;
      li {
        a {
          color: white;
          text-decoration: none;
          font-size: 18px;
          padding: 0.4rem 0.8rem;
          border-radius: 3px;
          transition: 0.3s all ease;
          &:hover {
            background-color: rgba(124, 104, 238, 0.13);
          }
        }
      }
    }
  }
}
