.showcase-headers {
  h1 {
    font-size: 2.8rem;
    font-family: "Poppins";
    letter-spacing: -1.3px;
    margin-bottom: -1.2rem;
  }
  p {
    font-size: 13.4px;
  }
}

.showcase_tutorials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  .DSA_tut_card {
    background-color: #d0000070;
    width: 17rem;
    height: 9rem;
    border: 2px solid rgba(255, 0, 0, 0.583);
    p {
      color: white;
    }
  }
  .Python_tut_card {
    background-color: #3f89c570;
    width: 17rem;
    height: 9rem;
    border: 2px solid rgba(0, 136, 255, 0.56);
    p {
      color: white;
    }
  }
  .RDBMS_tut_card {
    background-color: #ffba0870;
    border: 2px solid rgba(255, 255, 0, 0.579);
    width: 17rem;
    height: 9rem;
    p {
      color: white;
    }
  }
  .showcase_tut_cards {
    border-radius: 10px;
    height: 9rem;
    width: 17rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease;
    &:hover {
      transform: translateY(-2px);
    }
    p {
      font-size: 20px;
      font-weight: 700;
      bottom: 20px;
      left: 20px;
      position: absolute;
      font-family: "poppins";
    }
  }
}
