@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-smooth: always;
  font-smooth: antialiased;
  scroll-behavior: smooth !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-scroll-behavior: smooth !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*::selection {
  color: black;
  background-color: white;
}

html {
  background: #000000;
}
@font-face {
  font-family: "firecode";
  src: url("../utils/fonts/FiraCode.ttf");
}

@font-face {
  font-family: "sofiapro";
  src: url("../utils/fonts/SofiaPro.otf");
}

body {
  font-family: var(--body-font-family) !important;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  overflow-x: hidden;
  background: #000000;
  background-size: 400% 400%;
}

@keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes bodyScrollHidden {
  0% {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  50% {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  100% {
    overflow-y: auto;
    overflow-x: auto;
  }
}

body::-webkit-scrollbar {
  width: 0.4em;
  background: #111111;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  background-size: 400% 400%;
}

body::-webkit-scrollbar-thumb {
  background-color: #39393986;
  border-radius: 12px;
}

@keyframes scrollBarFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --bg-color: #080809;
  --font-color: #ababab;
  --showcase-h-color: #ffffff;
  --heading-color: #dcdcdcc8;
  --body-font-family: "sofiapro", sans-serif;
  --heading-font-family: "Open Sans", sans-serif;
  --nunito-font-family: "Nunito Sans", sans-serif;
  --serif-font-family: "Playfair Display", serif;

  --fontSize1: 1rem;
  --fontSize2: 2rem;
  --fontSize3: 3rem;
  --fontSize4: 4rem;
  --fontSize5: 5rem;
  --fontSize6: 6rem;
  --fontSize7: 7rem;
  --fontSize8: 8rem;
  --fontSize9: 9rem;
  --fontSize10: 10rem;
  ---fontWeight1: 100;
  ---fontWeight2: 200;
  ---fontWeight3: 300;
  ---fontWeight4: 400;
  ---fontWeight5: 500;
  ---fontWeight6: 600;
  ---fontWeight7: 700;
  ---fontWeight8: 800;
  ---fontWeight9: 900;
}

hr {
  opacity: 0.6;
  border: 0;
  background: linear-gradient(transparent, red, transparent);
  border-style: solid;
  border-bottom-width: 1px;
  width: 70%;
  border-top-width: 1px;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
}

.post-top {
  z-index: 999;
  position: fixed;
  left: 30px;
  bottom: 0;
  margin-right: auto;
  padding: 2rem 0;
  svg {
    backdrop-filter: blur(6px) !important;
    transition: 0.2s all ease-in-out;
    border-radius: 100%;
    fill: #ababab75;
    &:hover {
      fill: #fff;
    }
  }
}
.posts-post-top {
  position: fixed;
  z-index: 999;

  left: 0px;
  bottom: 0;
  margin-right: auto;
  padding: 2rem;
  svg {
    backdrop-filter: blur(6px) !important;
    transition: 0.2s all ease-in-out;
    border-radius: 100%;
    fill: #ababab75;
    &:hover {
      fill: #fff;
    }
  }
}

.h2-color {
  color: #d7d7d7;
}

.p-color {
  color: var(--font-color);
}
.approved {
  color: rgb(0, 180, 0);
}

.not-approved {
  color: rgb(255, 44, 44);
}

.styled-hr {
  width: 90%;
  background: rgb(123, 104, 238);
  background: linear-gradient(
    90deg,
    rgba(123, 104, 238, 0) 0%,
    rgba(123, 104, 238, 1) 51%,
    rgba(8, 205, 254, 0) 100%
  );
  margin: 1.7rem auto;
  height: 0.8px;
}

.sub-heading {
  font-family: var(--heading-font-family);
}

.link-color {
  color: #3696bc;
}

.no-decoration {
  text-decoration: none;
}

.hidden {
  display: none;
}

.color-mediumslateblue {
  color: mediumslateblue;
}

.color-mailred {
  color: #f8413a;
}

.text-underline {
  text-decoration: underline;
}

.text-lineThrough {
  text-decoration: line-through;
}

.chip_component {
  display: flex;
  .chip_content {
    display: flex;
    justify-content: center;
    align-items: center;
    ::before {
      content: "💡";
    }
    margin: 1.4rem 0 0.3rem 0;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.308);
    border: 1px solid rgba(255, 0, 0, 0.342);
    width: fit-content;
    font-weight: normal;

    a {
      text-decoration: none;
      font-weight: normal;
      color: white;
    }
    color: white;
  }
}
